<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3QVPwdcfORGYIUPTRdpQXxY3HKQR4J9M</string>
	<key>GCM_SENDER_ID</key>
	<string>498273060741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wemppywp.ecommerceapp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-16912</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-16912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498273060741:ios:5fc479cc1116e40f5666ec</string>
</dict>
</plist>